.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 70vh;
  flex: 1 0 50%;
  margin: 2rem;
  background-color: #fff8dc;
  /* margin-bottom: 3rem; */
  transition: transform 0.5s, box-shadow 1s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card p,
.card h4,
.card h2 {
  padding: 0 20px;
}

.card h4 {
  font-style: italic;
  font-weight: 400;
}

.card:hover {
  transform: scale(1.03) perspective(0px);
  box-shadow: 5px 5px 20px rgba(60, 60, 93, 0.33);
}

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(50% - 7em);
  }
}

@media screen and (max-width: 60em) {
  .card {
    height: 70vh;
  }
}

.card-top {
  /* display: flex; */
  height: 42%;
  /* justify-content: center;
  align-items: center; */
}

.card-top img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  display: flex;
  height: 50%;
  flex-direction: column;
}

.card-text-scrollable {
  height: 100%;
  overflow-x: hidden;
}

.card-text-scrollable::-webkit-scrollbar {
  display: none;
}

.card-bottom {
  height: 8%; /* 100 - 52 - 40 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
