.intro-card {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: auto;
}

.intro-right-top {
  gap: 1rem;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.intro-pic-card {
  display: flex;
  /* justify-content: end; */
  width: 30vh;
  height: 30vh;
}

.intro-pic {
  object-fit: fill;
  border-radius: 50%;
  /* max-width: 100%;
  max-height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-name {
  /* padding: 0 2vw; */
  font-size: 60px;
  font-weight: 700;
}

.intro-salutation {
  font-size: 30px;
}

.intro-right-bottom {
  font-size: 15px;
}

@media screen and (max-width: 60em) {
  .intro-card {
    flex-direction: column;
  }

  .intro-right {
    width: 70%;
  }

  .intro-right-top {
    justify-content: center;
  }

  .intro-pic-card {
    height: 40vh;
    width: 40vh;
  }

  .intro-name {
    font-size: 30px;
  }

  .intro-salutation {
    font-size: 15px;
  }
}
