.intro-card {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 35%;
}

.intro-right-top {
  gap: 1rem;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.intro-pic-card {
  display: flex;
  justify-content: end;
  width: auto;
  height: 30vh;
}

.intro-pic {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.intro-name {
  /* padding: 0 2vw; */
  font-size: 6vmin;
}

.intro-salutation {
  font-size: 2vmin;
}

.intro-right-bottom {
  font-size: 2vmin;
}

@media screen and (max-width: 60em) {
  .intro-card {
    flex-direction: column;
  }

  .intro-right {
    width: 70%;
  }

  .intro-right-top {
    justify-content: center;
  }

  .intro-pic-card {
    height: 40vh;
  }
}
