.main-canvas {
  width: 70vw;
  /* border: 2px solid black; */
  margin-top: 1.5vh;
  border-radius: 20px;
  /* border: 2px solid black; */
  background-color: #f5d6b1;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

@media screen and (max-width: 60em) {
  .main-canvas {
    width: 90vw;
  }
}
