.main-canvas {
  width: 70vw;
  /* border: 2px solid black; */
  margin: 15vh 0;
  border-radius: 20px;
  /* border: 2px solid black; */
  background-color: #f5d6b1;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 60em) {
  .main-canvas {
    width: 90vw;
  }
}
