.navbar-card {
  /* --hover-text-color: white; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: center;
  gap: 10%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar-card:hover {
  background-color: #3b0102;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.navbar-card:hover .navbar-brand {
  color: white;
}

.navbar-card:hover .navbar-links {
  color: white;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  align-items: center;
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-in-out, transform 0.5s, box-shadow 1s;
}

.navbar-logo {
  height: 5vmin;
}

.navbar-logo-name {
  font-size: 4vmin;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
  gap: 2vw;
}

.navbar-links {
  font-size: 3vmin;
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-in-out, transform 0.5s, box-shadow 1s;
}

.navbar-links:hover {
  transform: scale(1.2) perspective(0px);
  box-shadow: 4px 4px 10px rgba(60, 60, 93, 0.33);
}

.navbar-brand:hover {
  transform: scale(1.2) perspective(0px);
  box-shadow: 4px 4px 10px rgba(60, 60, 93, 0.33);
}

.navbar-brand:active {
  color: violet;
}
